@function toRem($value) {
    $remValue   : calc($value / 16) + rem;
    // $remValue: $value + px; 
    @return $remValue;
}

@mixin RobotoRegular($size_px) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin ManropeMedium($size_px) {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin OrchideaProMedium($size_px) {
    font-family: 'OrchideaPro', sans-serif;
    font-weight: 500;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin ManropeBold($size_px) {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin OrchideaProMediumItalic($size_px) {
    font-family: 'OrchideaPro', sans-serif;
    font-weight: 500;
    font-size  : toRem($size_px);
    font-style : italic;
}