.sectionFooter {
    height:200px;
    background-color: $primaryColor_text;
    .sectionInner {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .sectionFooter_coopyright {
        @include RobotoRegular(14);
        color: $secondaryColor_text;
    }
}